@value smallAndUp from '../../../styles/breakpoints.module.css';

.link {
  color: initial;
  text-decoration: none;
}

.logo {
  display: none;
}

@media smallAndUp {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--logo);
  }

  .logoImage {
    font-size: 2rem;
    padding-bottom: 0.3rem;
  }
}
