@value smallAndUp from '../../../../styles/breakpoints.module.css';

.listingDetailImage {
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: 20rem;
  border-radius: 0.5rem;
}

@media smallAndUp {
  .listingDetailImage {
    height: 30rem;
  }
}
