@value smallAndUp from '../../../../styles/breakpoints.module.css';

.listingDetailImage {
  position: relative;
  height: 20rem;
}

.favoriteButtonContainer {
  position: absolute;
  right: 0;
  margin: .5rem;
}

@media smallAndUp {
  .listingDetailImage {
    height: 30rem;
  }
}
