NEXT_TELEMETRY_DISABLED=1
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""
NEXT_PUBLIC_GOOGLE_MAPS_ID=""
NEXT_PUBLIC_LOCALE="en-US"
NEXT_PUBLIC_CURRENCY="USD"
MONGODB_URI=""
NEXTAUTH_URL="http://localhost:3000/"
NEXTAUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_ID=""
GITHUB_SECRET=""
