.listingResultsPagination {
  margin-top: 3rem;
}

.paginationButtons {
  display: flex;
  justify-content: center;
  column-gap: .2rem;
}

.pageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  border: none ;
  background: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.pageButton:hover {
  background: var(--primary-light);
}

.pageButton:disabled {
  background: var(--primary-light);
  color: var(--primary);
  border-color: var(--primary);
}

.paginationButton {
  background-color: inherit;
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  font-size: inherit;
  font-family: inherit;
  color: var(--foregound);
}

.paginationButton:hover:enabled {
  background-color: var(--primary-light);
}

.paginationButton:disabled {
  cursor: not-allowed;
  color: var(--foreground-disabled);
}

.morePages {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
  gap: .5rem;
  min-width: 9rem;
  max-width: 20rem;
  max-height: 25rem;
  overflow-y: auto;
  padding: 1rem;
}

.morePagesItemSelected {
  composes: morePages;
  background: var(--primary-light);
  color: var(--primary);
  border-color: var(--primary);
}

.resultTotals {
  text-align: center;
  margin-top: .5rem;
  font-size: 0.875rem;
}
