.listingResultsPagination {
  margin-top: 2rem;
}

.paginationButtons {
  text-align: center;
}

.pageButton {
  margin: 0 .3rem;
  cursor: pointer;
  border: 1px solid var(--outline);
  border-radius: 6px;
  padding: .3rem .6rem;
  background: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.pageButton:hover {
  background: var(--primary-variant-three);
}

.pageButton:disabled {
  background: var(--primary-variant-two);
  color: var(--primary);
  border-color: var(--primary);
}

.paginationButton {
  margin: 0 .3rem;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  border-radius: 6px;
  padding: .4rem .7rem;
  background: var(--primary);
  font-size: inherit;
  font-family: inherit;
  color: var(--primary-container-foreground);
}

.paginationButton:hover {
  background: var(--primary-variant-one);
}

.paginationButton:disabled {
  background: var(--primary-variant-two);
  color: var(--primary);
}

.morePages {
  composes: pageButton;
  padding: .3rem;
}

.morePagesItemSelected {
  composes: morePages;
  background: var(--primary-variant-two);
  color: var(--primary);
  border-color: var(--primary);
}

.resultTotals {
  text-align: center;
  margin-top: .5rem;
  font-size: 0.875rem;
}
