@value smallAndUp from '../../../../styles/breakpoints.module.css';

.modalOverlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.modalOverlayFullScreenOnMobile {
  composes: modalOverlay;
  padding-top: 1rem;
}

.modalOverlayAfterOpen {
  opacity: 1;
}

.modalOverlayBeforeClose {
  opacity: 0;
}

.modalContent {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 92%;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px -1px;
  border: 1px solid rgba(255, 255, 255, 0.19);
  background-color: var(--background);
  border-radius: 0.8rem;
}

.modalContentFullScreenOnMobile {
  composes: modalContent;
  width: 100%;
  height: 100%;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.modalContentAfterOpen {
  animation: slideUp 0.3s ease-out forwards;
}

.modalContentBeforeClose {
  animation: slideDown 0.3s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@media smallAndUp {
  .modalOverlayFullScreenOnMobile {
    padding-top: 0;
  }

  .modalContent {
    width: auto;
    min-width: 25rem;
    min-height: 16rem;
    max-height: 90%;
    margin-top: 0;
  }

  .modalContentFullScreenOnMobile {
    border-radius: 0.8rem;
    width: auto;
    height: auto;
  }
}
