.favoriteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: .0625rem;
  border: none;
  transition: 0.2s;
  background: none;
}

.favoriteButton:hover {
  transform: scale(1.1);
}

#favoriteStroke,
#favoriteFilled {
  stroke: white;
  fill: rgba(0, 0, 0, 0.5);  
}

#favoriteStroke {
	animation: 300ms addFavorite forwards;
}

#favoriteFilled {
  animation: 300ms removeFavorite forwards ease-in-out;
}

@keyframes addFavorite {
  0% {
		transform: scale(1);
	}
	20% {
		transform: scale(0.9);
	}
	40% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
		fill: var(--secondary);
	}
}

@keyframes removeFavorite {
  0% {
		transform: scale(1);
	}
  20% {
		transform: scale(0.9);
	}
	40% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
