.menuOpenIcon {
  user-select: none;
  cursor: pointer;
}

.closed {
  composes: menuOpenIcon;
  transform: rotate(0deg);
  transition: transform 150ms linear;
}

.open {
  composes: menuOpenIcon;
  transform: rotate(180deg);
  transition: transform 150ms linear;
}
