.loadingDots {
  display: inline-flex;
}

.loadingDots > div {
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
  animation: loadingDots 1s infinite alternate;
}

@keyframes loadingDots {
  to {
    opacity: 0.1;
  }
}

.loadingDots > div:nth-child(2) {
  animation-delay: 0.2s;
}

.loadingDots > div:nth-child(3) {
  animation-delay: 0.4s;
}