.containedButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  height: 40px;
  border-radius: 6px;
  padding: 0 .8rem;
  background: MediumPurple;
  font-size: 0.875rem;
  font-family: inherit;
  color: white;
}

.containedButton:hover {
  background: RebeccaPurple;
}

.containedButton.highlighted {
  background: rgba(4, 87, 175, 0.24);
}
