.link {
  color: initial;
  text-decoration: none;
}

.details {
  padding: .5rem 0;
}

.price {
  font-size: 1.25rem;
  font-weight: 600;
}

.bedBathSqft {
  display: flex;
}

.price,
.bedBathSqft {
  margin-bottom: .5rem;
}

.beds,
.baths,
.sqft {
  margin-right: .5rem;
}
