.link {
  color: initial;
  text-decoration: none;
}

.details {
  padding: .5rem 0;
}

.price {
  font-size: 1.2rem;
  font-weight: 500;
}

.bedBathSqft {
  display: flex;
  column-gap: .4rem;
}

.price,
.bedBathSqft {
  margin-bottom: .5rem;
}
