.comboboxWrapper {
  flex-grow: 1;
  position: relative;
}

.searchFieldElements {
  display: flex;
  width: 100%;
}

.comboboxInput {
  flex-grow: 1;
  display: flex;
  border-radius: 1.25rem 0 0 1.25rem;
}

.comboboxInputNoFocus {
  composes: comboboxInput;
  /* the margin stops content from moving around when focus ring is active */
  padding: 1px;
  border-top: 1px solid var(--outline);
  border-left: 1px solid var(--outline);
  border-bottom: 1px solid var(--outline);
}

.comboboxInputHasFocus {
  composes: comboboxInput;
  padding: 0;
  border: 2px solid var(--focus);
}

.locationSearchField {
  /* need to set width: 100% otherwise input will not shrink in flex container */
  width: 100%;
  border: none;
  padding-left: 10px;
  font-size: inherit;
  font-family: inherit;
  height: 36px;
  border-radius: 1.25rem 0 0 1.25rem;
}

.locationSearchField:focus {
  outline: none;
}

.listboxMenu {
  position: absolute;
  z-index: 2;
  overflow-x: hidden;
  list-style: none;
  background-color: var(--background);
  width: 100%;
  max-height: 250px;
  box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);
  margin: 0;
  padding: 0;
}

.listboxMenuClosed {
  composes: listboxMenu;
  display: none;
}

.listItem {
  display: flex;
  align-items: flex-start;
  padding: 0.6rem;
  cursor: pointer;
}

.listItemActive {
  composes: listItem;
  background-color: var(--primary-light);
}

.listItem:hover {
  background-color: var(--primary-light);
}

.locationPinFilledIcon {
  margin-right: 0.3rem;
}
