.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 10.5rem;
}

.menuItem {
  display: grid;
  grid-template-columns: 1.5rem auto;
  cursor: pointer;
  padding: .5rem;
}

.menuItem:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.menuItem:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.menuItem:hover {
  background-color: var(--primary-light);
}
