.sortMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.sortLabel {
  margin-right: .3rem;
}

.sortByDropdown {
  cursor: pointer;
  border: 1px solid var(--outline);
  border-radius: 6px;
  padding: 0.3rem;
  font-size: inherit;
  font-family: inherit;
  background: inherit;
  color: inherit;
}

.sortByDropdown:hover {
  background: var(--primary-variant-three);
}

.sortByDropdownHighlighted {
  composes: sortByDropdown;
  background: rgba(4, 87, 175, 0.24);
}
