@value smallAndUp from '../../../styles/breakpoints.module.css';

.legend {
  font-size: inherit;
  margin-bottom: .6rem;
  font-weight: 600;
}

.bedsAndBaths {
  display: grid;
  gap: 1rem;
  border: none;
  margin: 0;
  padding: 0;
}

@media smallAndUp {
  .legend {
    display: none;
  }
}
