@value smallAndUp from '../../../../styles/breakpoints.module.css';

.sectionName {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 0;
  padding: 0 1rem
}

.details > li {
  display: grid;
  grid-template-columns: minmax(6.25rem, auto);
}

.detailsName {
  font-size: 0.875rem;
  color: var(--property-details-name-foreground);
  /* color: rgb(162, 162, 162); */
}

@media smallAndUp {
  .details {
    grid-template-columns: repeat(4, 1fr);
  }
}
