.propertyTypesList {
  list-style: none;
  margin: 0;
  padding: 1rem 1rem .5rem 1rem;
}

.propertyTypesListItem {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-bottom: .5rem;
}

.propertyTypesLabel {
  user-select: none;
  padding-left: .5rem;
}
