@value smallAndUp from '../../../styles/breakpoints.module.css';

.radioButton {
  width: 3rem;
  height: 3rem;
  font-size: 0.8rem;
}

.radioButton:hover {
  background: var(--primary-light);
}

.radioButtonInput {
  position: absolute;
  opacity: 0;
  margin: 0;
}

.radioButtonInput[type='radio']:checked + label {
  background: var(--primary-light);
  color: var(--primary-dark);
  border-color: var(--primary);
}

.radioButtonLabel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.0625rem solid var(--outline);
  cursor: pointer;
}

.radioButton,
.radioButtonLabel {
  border-radius: 50%;
}

@media smallAndUp {
  .radioButton {
    width: 3.7rem;
    height: 2.5rem;
  }

  .radioButton,
  .radioButtonLabel {
    border-radius: 1.25rem;
  }
}
