.outlinedButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 6px;
  height: 40px;
  padding: 0 .8rem;
  background: #fefefe;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.outlinedButton:hover {
  background: #e1d8f1;
  color: MediumPurple;
  border-color: MediumPurple;
}

.outlinedButtonHighlighted {
  composes: outlinedButton;
  background: #d1c1f0;
}
