.mapControl {
  background-color: var(--map-control);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0rem .0625rem .25rem -0.0625rem;
  border-radius: .375rem;
  padding: .8rem;
  cursor: pointer;
}

.mapControl:hover {
  background-color: var(--primary-light);
}
