.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  
  /* opacity: 0; */
  opacity: 1;

  transition: opacity 500ms ease-in-out;
}

.Overlay.ReactModal__Overlay--after-open {
  opacity: 1;
}

.Overlay.ReactModal__Overlay--before-close {
  opacity: 0;
}

.Content {
  display: flex;
  flex-direction: column;
  width: 45rem;
  height: 30rem;
  padding: 2rem;
  font-size: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.19);
  border-radius: .8rem;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px -1px;;
  background-color: var(--background);

  /* opacity: 0; */
  opacity: 1;
  
  transform: scale(0.7);
  transition: all 0.3s;
}

.Content.ReactModal__Content--after-open {
  opacity: 1;
  transform: scale(1);
}

.Content.ReactModal__Content--before-close {
  opacity: 0;
  transform: scale(0.7);
}


.title {
  font-size: 4rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1rem;
}
