@value smallAndUp from '../../../styles/breakpoints.module.css';

.zoomControl {
  display: none;
}

@media smallAndUp {
  .zoomControl {
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--map-control);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0rem .0625rem .25rem -0.0625rem;
  }
  
  .zoomButton {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .zoomButton:hover {
    background: var(--primary-light);
  }
  
  .zoomIn {
    composes: zoomButton;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  
  .zoomOut {
    composes: zoomButton;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}
