.themeSwitcher {
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.label {
  font-weight: 500;
}

.themeSwitcherDropdown {
  cursor: pointer;
  border: 1px solid var(--outline);
  border-radius: 6px;
  padding: 0.1rem;
  font-size: inherit;
  font-family: inherit;
  background: inherit;
  color: inherit;
}

.themeSwitcherDropdown:hover {
  background: var(--primary-light);
}

.themeSwitcherDropdownHighlighted {
  composes: themeSwitcherDropdown;
  background: rgba(4, 87, 175, 0.24);
}
