@value smallAndUp from '../../styles/breakpoints.css';

.filters {
  display: flex;
  column-gap: .6rem;
  justify-content: space-between;
  padding: 0 1rem 0 0;
}

.filters > *:nth-child(-n+3) {
  display: none;
}

@media smallAndUp {
  .filters {
    justify-content: start;
    padding: 0;
  }

  .filters > *:nth-child(-n+3) {
    display: block;
  }
}
