.listingDetail {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.status {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--sold-listing);
}

.price {
  font-size: 2rem;
  font-weight: 600;
}

.neighborhood {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.3rem;
}
