@value smallAndUp from '../../../../styles/breakpoints.module.css';

.listingDetail {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem 1rem 2rem 1rem;
}

.status {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--sold-listing);
}

.price {
  font-size: 2rem;
  font-weight: 600;
}

.neighborhood {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.3rem;
}

@media smallAndUp {
  .listingDetail {
    padding: 1rem 0 2rem 0;
  }
}