.featureList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .5rem;
  list-style: none;
  margin: .2rem 0;
  padding: 0;
}

.featureList > li {
  display: grid;
  grid-template-columns: 1.5rem auto;
}
