.outlinedButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--outline);
  border-radius: 1.25rem;
  height: 2.5rem;
  padding: 0 .8rem;
  background: inherit;
  font-size: inherit;
  font-family: inherit;
  color: var(--foreground);
}

.outlinedButton:hover {
  background: var(--primary-light);
  color: var(--primary);
  border-color: var(--primary);
}

.outlinedButtonHighlighted {
  composes: outlinedButton;
  background: var(--primary-light);
  color: var(--primary);
  border-color: var(--primary);
}
