.page {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notFound {
  text-align: center;
  font-size: 2rem;
}

.notFoundIcon {
  font-size: 4rem;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
