.status {
  display: inline-block;
  border-radius: 6px;
  padding: 0.3rem .4rem;
  border: 1px solid var(--outline);
}

.statusActive {
  composes: status;
  border: 1px solid var(--active-listing);
  color: var(--active-listing);
}

.statusSold {
  composes: status;
  border: 1px solid var(--sold-listing);
  color: var(--sold-listing);
}
