.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 0 8px;
  background: MediumPurple;
  border-radius: 0 6px 6px 0;
}

.searchButton:hover {
  background: RebeccaPurple;
}
