.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 0 8px;
  background: var(--primary);
  border-radius: 0 6px 6px 0;
}

.searchButton:hover {
  background: var(--primary-dark);
}
