.header {
  height: 3rem;
  padding-top: .5rem;
  border-bottom: 1px solid #cccccc;
}

.listingDetail {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 0 auto;
  width: 50rem;
  padding: 1rem 0 2rem 0;
}

.price {
  font-size: 2rem;
  font-weight: 600;
}

.neighborhood {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: .3rem;
}

.comments {
  margin: 0;
}
