/* smallAndUp is for larger handheld devices. we don't have extra small for normal phone sizes because those are
considered the default for mobile-first design. using :export instead of `@value smallAndUp` for these since Typescript
seems to recognize the former when importing into a component but not the latter */
:export {
  smallAndUp: only screen and (min-width: 576px);
  mediumAndUp: only screen and (min-width: 768px);
  largeAndUp: only screen and (min-width: 992px);
  extraLargeAndUp: only screen and (min-width: 1200px);
}
