/* setting 100% height on all parent elements makes it so we can set height: 100% on .search instead of having to do
height: calc(100vh - 2rem) to account for the padding on <body> below. it works either way, but using calc() feels sort
of awkward */
html,
body,
#__next {
  height: 100%;
}

:root {
  --primary-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --background: white;
  --foreground: black;
  --foreground-disabled: #999;
  --primary: rgb(0, 106, 255);
  --primary-dark: rgb(13, 69, 153);
  --primary-light: rgb(242, 250, 255);
  --secondary: #e96262;
  --secondary-dark: #cd5a5a;
  --focus: var(--primary);
  --outline: #cccccc;
  --logo: var(--secondary);
  --search-button-background: var(--secondary);
  --search-button-background-hover: var(--secondary-dark);
  --search-button-foreground: white;
  --listing-marker-background: white;
  --listing-marker-foreground: black;
  --listing-marker-background-visited: #e0e0e0;
  --listing-marker-foreground-visited: #3c3c3c;
  --listing-marker-background-highlighted: var(--primary);
  --listing-marker-foreground-highlighted: white;
  --map-control: var(--background);
  --no-user-image-icon: #6b7280;
  --loading-dots-small: 0.625rem;
  --active-listing: green;
  --sold-listing: red;
  --slideshow-header-height: 6rem;
  --show-more-background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 95%
  );
  --listing-details-name-foreground: #767676;
}

[data-theme='purple'] {
  --primary: MediumPurple;
  --primary-dark: RebeccaPurple;
  --primary-light: #e1d8f1;
  --logo: var(--primary-dark);
  --search-button-background: var(--primary);
  --search-button-background-hover: var(--primary-dark);
  --no-user-image-icon: #d1d5db;
}

[data-theme='orange'] {
  --primary: orange;
  --primary-dark: #db7800;
  --primary-light: #ffe1c8;
  --logo: var(--primary-dark);
  --search-button-background: var(--primary);
  --search-button-background-hover: var(--primary-dark);
}

[data-theme='dark'] {
  --background: #22272e;
  --foreground: #e0e0e0;
  --foreground-disabled: #b3b3b3;
  --primary: #b79bf0;
  --primary-dark: #e1d8f1;
  --primary-light: MediumPurple;
  --listing-marker-background: #22272e;
  --listing-marker-foreground: #e0e0e0;
  --listing-marker-background-visited: #5a5a5a;
  --listing-marker-foreground-visited: #e0e0e0;
  --logo: white;
  --map-control: rgba(34, 39, 46, 0.8);
  --show-more-background-image: linear-gradient(
    to bottom,
    rgb(34, 39, 46, 1) 0%,
    rgba(255, 255, 255, 0) 95%
  );
  --listing-details-name-foreground: #9f9e9e;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--primary-font);
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline-color: var(--focus);
}

input {
  accent-color: var(--primary);
}
