/* setting 100% height on all parent elements makes it so we can set height: 100% on .search instead of having to do
height: calc(100vh - 2rem) to account for the padding on <body> below. it works either way, but using calc() feels sort
of awkward */
html,
body,
#__next {
  height: 100%;
}

:root {
  --background: white;
  --foreground: black;
  --foreground-disabled: #999;
  --primary: MediumPurple;
  --primary-variant-one: RebeccaPurple;
  --primary-variant-two: #d1c1f0;
  --primary-variant-three: #e1d8f1;
  --primary-container-foreground: white;
  --focus: var(--primary);
  --outline: #cccccc;
  --highlight: #f6f6f6;
  --listing-marker-background: white;
  --listing-marker-foreground: black;
  --listing-marker-background-visited: #e0e0e0;
  --listing-marker-foreground-visited: #3c3c3c;
  --logo: black;
  --boundary-control: rgba(255, 255, 255, 0.7);
  --primary-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

[data-theme='orange'] {
  --primary: #fa8100;
  --primary-variant-one: #db7800;
  --primary-variant-two: #ffe1c8;
  --primary-variant-three: peachpuff;
  --logo: #fa8100;
}

[data-theme='dark'] {
  --background: #22272e;
  --foreground: #e0e0e0;
  --primary: #b79bf0;
  --primary-variant-two: MediumPurple;
  --primary-variant-three: RebeccaPurple;
  --listing-marker-background: #22272e;
  --listing-marker-foreground: #e0e0e0;
  --listing-marker-background-visited: #5a5a5a;
  --listing-marker-foreground-visited: #e0e0e0;
  --logo: white;
  --boundary-control: rgba(34, 39, 46, 0.7);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--primary-font);
  margin: 0;
  padding: 1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline-color: var(--focus);
}

input {
  accent-color: var(--primary);
}
