html,
body {
  /* height: 100%; is necessary here for so that #app will be 100% */
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Hevetica, Verdana, Arial, sans-serif;
  font-size: 14px;
  color: #212e35;
}

*, *:before, *:after {
  box-sizing: inherit;
}
