/* setting 100% height on all parent elements makes it so we can set height: 100% on .search instead of having to do
height: calc(100vh - 2rem) to account for the padding on <body> below. it works either way, but using calc() feels sort
of awkward */
html,
body,
#__next {
  height: 100%;
}

:root {
  --background: white;
  --foreground: black;
  --foreground-disabled: #999;
  --primary: MediumPurple;
  --primary-container-foreground: white;
  --primary-variant-one: RebeccaPurple;
  --primary-variant-two: #d1c1f0;
  --primary-variant-three: #e1d8f1;
  --focus: var(--primary);
  --outline: #cccccc;
  --highlight: #f6f6f6;
  --listing-marker-background: white;
  --listing-marker-foreground: black;
  --listing-marker-background-visited: rgb(224, 224, 224);
  --listing-marker-foreground-visited: rgb(60, 60, 60);
  --primary-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

[data-theme='dark'] {
  --background: #1c1b1e;
  --foreground: white;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--primary-font);
  margin: 0;
  padding: 1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline-color: var(--focus);
}

input {
  accent-color: var(--primary);
}
