.slideShow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  /* Preventing the image height from overflowing the page proved to be very
  difficult. Using calc to restrict the height of both the image and it's
  container seems to be the only thing that works well.  */
  grid-template-rows: var(--slideshow-header-height) calc(
      100% - var(--slideshow-header-height)
    );
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  padding: 0;
  /* The allow-discrete makes it so the closing animation works correctly. See:
  https://frontendmasters.com/blog/animating-dialog/#transition-behavior-allow-discreteŒ
  */
  transition: display 500ms allow-discrete, overlay 500ms allow-discrete;
  animation: close 500ms forwards;
}

.slideShow[open] {
  display: grid;
  animation: open 500ms forwards;
}

.slideShowClosed {
  display: none;
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.carousel {
  display: flex;
  justify-content: space-between;
}

.listingImageFigure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.listingImage {
  max-width: 100%;
  max-height: calc(100% - var(--slideshow-header-height));
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0 0 2.5rem;
}

.caption {
  padding: 0.5rem;
  text-align: center;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 0.5rem;
  color: inherit;
  font: inherit;
  padding: 0.5rem 1rem;
}

.close:hover {
  background: rgb(74, 74, 74);
}

.imageCount {
  text-align: center;
  flex-grow: 1;
}

.carouselButtonContainer {
  display: flex;
  align-items: center;
}

.carouselButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  margin: 0 1.5rem;
  padding: 0;
  background: none;
  border: solid 1px white;
  border-radius: 50%;
  color: inherit;
  font: inherit;
}

.carouselButton:hover {
  background: rgb(74, 74, 74);
}
