@value smallAndUp from '../../../styles/breakpoints.module.css';

.legend {
  font-size: inherit;
  margin-bottom: .6rem;
  font-weight: 600;
}

.price {
  display: flex;
  align-items: center;
  border: none;
  margin: 0;
  padding: 0;
}

@media smallAndUp {
  .legend {
    display: none;
  }
}
